{% extends 'main/base.html' %}
{%block title%} Displaying ToDoList's {%endblock%}

{%block mainHeading%} 
<span class="navbar-text custom-white-text unselectable">Display</span>
{%endblock%}

{%block content%}
    
        <!--<h4>ToDoList's:</h4>-->
        <table 
        class="table table-hover table-striped table-dark custom-display-table"
        id="display-table"
        >
        <thead>
            <tr>
                <th scope="col" class="unselectable">#</th>
                <th scope="col" class="unselectable">Name</th>
            </tr>
        </thead>  
            <tbody class="display-table-body">
            {%for i in data%}
                <tr data-display-table-id={{i.id}}> 
                    <th scope="row" class="unselectable">{{i.ROWNUM}}</td>  
                    <td class="unselectable">{{i.name}}</td> 
                </tr>
            {%endfor%}
            </tbody>
        </table>
       
        
        
    
{%endblock%}