{% extends 'main/base.html' %}
{%block title%} Displaying ToDoList's {%endblock%}

{%block mainHeading%} 
Display
{%endblock%}

{%block content%}
    
        <!--<h4>ToDoList's:</h4>-->
        <!--<table 
        class="table table-dark"
        id="table"
  data-toolbar="#toolbar"
  data-search="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-detail-view="true"
  data-show-export="true"
  data-click-to-select="true"
        >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>  
            <tbody>
            {%for i in data%}
                <tr> 
                    <th scope="row">{{i.ROWNUM}}</td>  
                    <td>{{i.name}}</td> 
                </tr>
            {%endfor%}
            </tbody>
        </table>-->
        <div id="table">
            <bootstrap-table :columns="columns" :data={{datatest}} :options="options" @on-click-row="onClickRow"></bootstrap-table>
          </div>
        
        
    
{%endblock%}