{% extends 'main/base.html' %}
{%block title%} Displaying List {%endblock%}

{%block content%}
    
        <h4>ToDoList's:</h4>
        <table>
        <tr>
            <th>S.no</th>
            <!--<th>Id</th>-->
            <th><li>Name</li></th>
        </tr>
        {%for i in data%}
            <tr> 
                <td>{{i.ROWNUM}}</td>  
                <!--<td><li>{{i.id}}</li></td>-->
                <td><li>{{i.name}}</li></td> 
            </tr>
        {%endfor%}
        </table>
    
{%endblock%}