{% extends 'main/base.html'%}
{%block title%}To Do List{%endblock%}

{%block mainHeading%} 
view data
{%endblock%}

{%block content%}
    {%if list.exists %}
    {%for data in list%} 
    <h2>
        {{data.id}}. {{data.name}}
    </h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Status</th>
        </tr>
        {%if data.item_set.all.exists %}
            {%for i in data.item_set.all %}
                {%block display%}
                <tr>
                    <td>{{i.text}}</td>
                    {% if i.complete == True %}
                        <td>Completed</td>
                    {%elif i.complete == False %}
                        <td>Pending</td>
                    {%endif%}
                </tr>
                {%endblock%}
            {%endfor%}
        {% else %}
            <tr>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        {%endif%}
    </table>
    {%endfor%}
    {%else%}
        <h3>Sorry, no list is available with id={{id}}<h3>
    {%endif%}
{%endblock%}