{% extends 'main/base.html' %}
{%block title%} Testing todolist {%endblock%}

{%block content%}
<form method="post",action="#">
 {% csrf_token %}
 {%if list.exists%}
  {%for data in list%}
    <h4>{{data.id}}.{{data.name}}</h4>
    <table>
        <tr>
            <th>S.no</th>
            <th>Item</th>
            <th>Status</th>
        </tr>
        {%if data.item_set.all.exists%}
         {%for i in data.item_set.all%}
          <tr>
           <td>{{sno.num}}</td>
           <td>{{i.text}}</td>
           {%if i.complete == True%} 
            <td><input type="checkbox",value="clicked",name="c{{item.id}}" checked></td>
           {%elif i.complete == False%} 
            <td><input type="checkbox",value="clicked",name="c{{item.id}}"></td>   
           {%endif%} 
          </tr>
         {%endfor%}
        {% else %} 
         <tr>
             <td>N/A</td>
             <td>N/A</td>
         </tr> 
        {%endif%}
    </table>
  {%endfor%}
 <table>
    <tr>
    <td><input type="text",name="new"></td>
    <td><button type="submit",name="newItem",value="newItem">newItem</button></td>
    </tr>
    <tr>
    <td><button type="submit",name="save",value="save">save</button></td>
    </tr>
 </table>
 {%else%}
  <h4>toDoList not found for id:{{id}}</h4>
 {%endif%}
</form> 
{%endblock%}