{% extends 'main/base.html' %}
{%block title%} Home {%endblock%}

{%block mainHeading%} 
<span class="navbar-text custom-white-text unselectable">get to know me</span>
{%endblock%}

{%block content%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Hello, Iam Saravanan Ramanathan</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
    </div>
</div>
<div class="row justify-content-left">
    <div class="col-9">
<p>Iam a freelancer, I develop Bots/websites for various purpose's</p>
<p>Some of the bots I have developed so far include discord bots,whatsapp bots,survey bots,various chat/social bots</p>
<p>I Develop website with django(python web development), And my other various techinical skills include: Android Development, Statistical Dashboards using c#.net, Shiny R Apps, Postgresql, Linux-vps-hosting </p>
<br>
<p>you can get in touch with me via:</p>
        <p class="contactDetails">Email: srvnnramanathan@gmail.com</p>
        <p class="contactDetails">Discord: Tada#1459</p>
</div>
</div>
{%endblock%}

{%block notloggedin%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Hello, Iam Saravanan Ramanathan</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
    </div>
</div>
<div class="row justify-content-left">
    <div class="col-9">
<p>Iam a freelancer, I develop Bots/websites for various purpose's</p>
<p>Some of the bots I have developed so far include discord bots,whatsapp bots,survey bots,various chat/social bots</p>
<p>I Develop website with django(python web development), And my other various techinical skills include: Android Development, Statistical Dashboards using c#.net, Shiny R Apps, Postgresql, Linux-vps-hosting </p>
<br>
<p>you can get in touch with me via:</p>
        <p class="contactDetails">Email: srvnnramanathan@gmail.com</p>
        <p class="contactDetails">Discord: Tada#1459</p>
</div>
</div>
{%endblock%}

