{% extends 'main/base.html' %}
{%block title%} Create List {%endblock%} 

{%block mainHeading%} 
<span class="navbar-text custom-white-text unselectable">Create</span>
{%endblock%}

{%block content%}
 <h4>Create a new toDoList</h4>
 <form method="post" action="/create/" class="form-group">
     {% csrf_token %}
     <div class="input-group mb-3">
        <div class="input-group-prepend"><!-- new bootstrap class to kinda mesh the button with text input -->
            <button type="submit" name="save" class="btn btn-success">Create List</button>
        </div>
        {{form.name}}
     </div>
 </form> 
{%endblock%} 