{% extends 'main/base.html' %}
{%block title%} Home {%endblock%}

{%block mainHeading%} 
<span class="navbar-text custom-white-text unselectable">Home</span>
{%endblock%}

{%block content%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Welcome to ToDoList Demo Site</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
        <p>This is site is made as a with python web development using django web framework.</p>
        <p>I have concepts like bootstrap, Ajax, jQuery, and general web-development related concepts(ie: html,css,Javascript, and ofc python for backend and sqlite3(keeping it light for demo) as my database)</p>
        <p>This might be a demo site, but it has a great usecase, anyone can use this site to create a todolist then add items to the todolists and keep track of them with simple log-in.</p>
        <p>This is a online todolist that is available to you at anytime</p>
        <br>
        <br>
        <p>For best experience, I recommend using this site via google-chrome or microsoft-edge</p>
        <p>Hope you have a great time using this site.</p>
    </div>
</div>
{%endblock%}

{%block notloggedin%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Welcome to ToDoList Demo Site</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
        <p>This is site is made as a with python web development using django web framework.</p>
        <p>I have concepts like bootstrap, Ajax, jQuery, and general web-development related concepts(ie: html,css,Javascript, and ofc python for backend and sqlite3(keeping it light for demo) as my database)</p>
        <p>This might be a demo site, but it has a great usecase, anyone can use this site to create a todolist then add items to the todolists and keep track of them with simple log-in.</p>
        <p>This is a online todolist that is available to you at anytime</p>
        <br>
        <br>
        <p>For best experience, I recommend using this site via google-chrome or microsoft-edge</p>
        <p>Hope you have a great time using this site.</p>
    </div>
</div>
{%endblock%}

